*{box-sizing: border-box;}

h1{
  text-transform: uppercase;
  font-family: helvetica;
margin: 0;
font-size: 50px;
}
img {
  width:100%;
}
.wr-body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: black;

}


.wr-image{
  width:50%
}

}
